{:serpapi {:key "YOUR_SERPAPI_KEY"}

 :ors {:api-key "YOUR_ORS_API_KEY"}

 :amadeus {:client-id "YOUR_AMADEUS_CLIENT_ID"
           :client-secret "YOUR_AMADEUS_CLIENT_SECRET"}

 :groq {:api-key "YOUR_GROQ_API_KEY"
        :model "llama-3.1-8b-instant"}}
